/.gitignore
/SimpleGPIO.o
/analyze.o
/circular_buffer.o
/data_decoding.o
/log.o
/main_arm
/main_arm.o
/main_beaglebone
/main_beaglebone.o
/main_client.o
/main_server
/main_server.o
/main_wind
/main_windsensor.o
/read_log
/read_log.o
/simulation_lisa.o
/spi_communication.o
/testbuffer.o
/uart_communication.o
/udp_communication.o
