[submodule "components/lowlevel/soem"]
	path = components/lowlevel/soem
	;url = http://git.mech.kuleuven.be/robotics/soem.git
	url = git@github.com:drewm1980/soem.git
	ignore = untracked
[submodule "tools/PyKinetics"]
	path = tools/PyKinetics
	url = https://github.com/jgillis/PyKinetics.git
	ignore = untracked
[submodule "extern/rtt"]
	path = extern/rtt
	url = git://gitorious.org/orocos-toolchain/rtt.git
