*~
*#
.tup

# Ignore SVN shit
.svn

# No compiled code
*.pyc
*.mex*

# No OS X stuff
.DS_Store
._.DS_Store

# No Orocos stuff
.tb_history
orocos.log

# OMG, no deb packages!
*.deb

# No data files
*.mat
*.dat
*.nc
dataset

# And yeah, no eclipse project products
*.project
*.cproject
*.pydevproject
*.settings

# Images
*.png

# Latex stuff
*.pdf
*.aux
*.log
*.synctex.gz
