.svn
*.log
*.swp
*.swo
*.pyc
source.dot
bin
lib
build
.tb_history
.makepp
octave-core
mainpage.dox
CMakeCache.txt
CMakeFiles
cmake_install.cmake
casadi_functions.cpp
*~

*.uxf
*.tex
*.pdf
bugs
types
    
