[submodule "components/lowlevel/soem"]
	path = components/lowlevel/soem
	url = http://git.mech.kuleuven.be/robotics/soem.git
	;url = git@github.com:drewm1980/soem.git
	ignore = dirty
[submodule "extern/rtnet"]
	path = extern/rtnet
	url = git://rtnet.git.sourceforge.net/gitroot/rtnet/rtnet
;[submodule "extern/tup"]
	;path = extern/tup
	;url = git://github.com/gittup/tup.git
	;ignore = dirty
;[submodule "extern/orocos_kinematics_dynamics"]
	;path = extern/orocos_kinematics_dynamics
	;url = http://git.mech.kuleuven.be/robotics/orocos_kinematics_dynamics.git
	;ignore = dirty
[submodule "extern/acado"]
	path = extern/acado
	url = git@git.esat.kuleuven.be:acado.git
[submodule "extern/rawesome"]
	path = extern/rawesome
	url = git://github.com/mvukov/rawesome.git
;[submodule "extern/stdint_typekit"]
;	path = extern/stdint_typekit
;	url = https://github.com/orocos-toolchain/stdint_typekit
