[submodule "components/lowlevel/soem"]
	path = components/lowlevel/soem
	;url = http://git.mech.kuleuven.be/robotics/soem.git
	url = git@github.com:drewm1980/soem.git
	ignore = dirty
[submodule "tools/PyKinetics"]
	path = tools/PyKinetics
	url = https://github.com/jgillis/PyKinetics.git
	ignore = dirty
[submodule "extern/rtt"]
	path = extern/rtt
	url = git://gitorious.org/orocos-toolchain/rtt.git
	ignore = dirty
[submodule "extern/ocl"]
	path = extern/ocl
	;url = https://git.gitorious.org/orocos-toolchain/ocl.git
	url = https://git.gitorious.org/orocos-toolchain/ocl_highwind.git
	ignore = dirty
[submodule "extern/log4cpp"]
	path = extern/log4cpp
	url = https://git.gitorious.org/orocos-toolchain/log4cpp.git
	ignore = dirty
[submodule "extern/tup"]
	path = extern/tup
	url = git://github.com/gittup/tup.git
